.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}


.loader {
    display: block;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.hidden {
    display: none;
}

.search-form input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #1e40af;
}